* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Lato', sans-serif;
}

input {
    border: none;
    font-size: 16px;
    width: 300px;
    height: 50px;
    padding: 0 18px;
    color: #3c4043;
    background: #d1cfcf;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid #d1cfcf;
    border-radius: 6px;
}

input:focus {
	background: #fff;
}

button {
	display: block;
    width: 150px;
    height: 40px;
    background: transparent;
    outline: none;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: all .2s ease;
}

button:hover {
	background: #fccb0b;
    border-color: #fccb0b;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.area {
	margin-top: 10px;
    margin-left: 16px;
    padding: 18px;
    border-radius: 8px;
    transition: box-shadow .2s ease;
    border-left: 6px solid #fccb0b;
    background: #fff;
    margin: 20px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

ul {
	margin-left: 16px;
}